* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-style: normal;
  font-size: 17px;
  letter-spacing: -0.01em;
  line-height: 2.1em;
  text-transform: none;
  color: rgba(0, 0, 0, 0.8);
}

h1 {
  font-family: "Great Vibes", cursive;
  color: #999595;
  padding-left: 35px;
  letter-spacing: 0.07em;
  line-height: 2.1em;
}

nav a.contact-link {
  font-family: "Great Vibes", cursive;
  text-transform: capitalize;
  font-size: 25px;
}

nav a {
  text-transform: uppercase;
  color: #999595;
  font-family: "Commuters Sans", sans-serif;
  /* transition: all 0.5s ease-in-out; */
  transition: color 170ms ease-in-out, background-color 170ms ease-in-out;
}

nav a:hover {
  color: #ebe8e8;
}
/* nav {
  padding: 26px;
} */

img {
  border: none;
}
